<div class="box-logo">
  <h1> Welcome to Supreme </h1>
</div>
<br>
<h2> December 6th Drop Sneak Peak </h2>
<div> 
  <a id="image_1" href="http://localhost:3000/products"><img id="image1" src="https://assets.supremenewyork.com/152582/zo/cc2kidN5yOc1.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" ></a>

  <a id="image_2" href="http://localhost:3000/products"><img id="image2" src="https://assets.supremenewyork.com/152609/zo/qRgO0c9RD-A.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" ></a>

  <a id="image_3" href="http://localhost:3000/products"><img id="image3" src="https://assets.supremenewyork.com/152194/zo/IkvqF0CQAV10.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" ></a>

  <a id="image_4" href="http://localhost:3000/products"><img id="image4" src="https://assets.supremenewyork.com/155724/ma/F2AIk7DKuhc.jpg" alt="Smiley face" height="802" width="802">
</div>