<center><h2>Account Management</h2></center>
<br>
<br>

<% if flash[:success] %>
  <div class="success">
    <font color="green">
      <%= flash[:success] %>
    </font>
  </div>
<% end %>

<div class="container">
  <% cookies[:previous_route] = account_details_path %>
  <div class="row">
    <div class="col">
      <h3><center>Manage Address</center></h3>
      <a href="<%=new_address_path%>"><img src="http://cdn.onlinewebfonts.com/svg/img_297883.png" class="img-fluid" alt="Responsive image"></a>
    </div>
    <div class="col">
      <h3><center>Purchase History</center></h3>
      <a href="<%=account_details_orders_path%>"><img src="http://cdn.onlinewebfonts.com/svg/img_141689.png" class="img-fluid" alt="Responsive image"></a>
    </div>
    <div class="col">
      <h3><center>Items Sold</center></h3>
      <a href="<%=sold_path%>"><img src="https://png.pngtree.com/svg/20160816/sell_out_496182.png" class="img-fluid" alt="Responsive image"></a>
    </div>
  </div>
</div>
      