<h1> Order History </h1>

<% if @orders == [] %>
  <center> <h3> "You have not yet made any purchases" </h3> </center>
<% else %>
  <div>
    <% @orders.each do |order| %>
      <ol> <h3> <b> Order Number: <%= order.id %> </b> </h3> </ol>
      <table style="width:100%">
        <col width="130">
        <col width="100">
        <tr>
          <th>Product Title</th>
          <th>Price</th> 
        </tr>
        <% @total = 0 %>
        <% @items.each do |item| %> 
          <% if order.id == item.order_id %>
            <tr>
              <td><%= product_name(item.product_id) %></td>
              <td><%= number_to_currency(product_price(item.product_id), :unit => "$") %></td> 
            </tr>
            <% @total += product_price(item.product_id) %>
          <% end %>
        <% end %>
        <tr> 
          <td> <b> Total </b> </td>
          <td> <b> <%= number_to_currency(@total , :unit => "$") %> </b> </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
